<!DOCTYPE html>
<html >

<meta charset="UTF-8">

<body>
	<div th:replace="layout"></div>
	
<div class="container">
		<div th:fragment="content">
			<div class="alert alert-primary" th:if="${#lists.isEmpty(listarTecnologias)}">
				Nenhuma Tecnologia Cadastrada</div>
			<div class="alert alert-primary" th:if="${mensagem != null}"
				th:text="${mensagem}"></div>

			<div class="card mb-3">
			
				
				</div>
			</div>

			<div th:if="${not #lists.isEmpty(listarTecnologias)}">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Id</th>
							<th>Nome da Tecnologia</th>
							<th>Descrição </th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="tecnologia : ${listarTecnologias}">
							<td th:text="${tecnologia.id}"></td>
							<td th:text="${tecnologia.nomeTecnologia}"></td>
							<td th:text="${tecnologia.descricao}"></td>

							
							<td><a class="btn btn-warning btn-sm"
								th:href="@{/tecnologia/editar(id=${tecnologia.id})}">Editar</a>
								<a class="btn btn-danger btn-sm" th:data-bs-toggle="modal"
								th:data-bs-target="|#myModal${tecnologia.id}|"
								th:href="@{/tecnologia/excluir(id=${tecnologia.id})}">Excluir</a>

								<div aria-hidden="true" aria-labelledby="myModalLabel"
									class="modal fade" th:id="|myModal${tecnologia.id}|"
									tabindex="-1">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="myModalLabel">Excluir</h5>
												<button aria-label="Close" class="btn-close"
													data-bs-dismiss="modal" type="button"></button>
											</div>
											<div class="modal-body">Deseja excluir esta
												Tecnologia?</div>
											<div class="modal-footer">
												<button class="btn btn-secondary" data-bs-dismiss="modal"
													type="button">Cancelar</button>
												<a class="btn btn-danger" type="button"
													th:href="@{/tecnologia/excluir(id=${tecnologia.id})}">Confirmar</a>
											</div>
										</div>
									</div>
								</div></td>
						</tr>






					</tbody>




				</table>
			</div>
		</div>


	</div>

	
</body>

</html>

