<!DOCTYPE html>
<html >

<meta charset="UTF-8">

<body>
	<div th:replace="layout"></div>
	
<div class="container">
		<div th:fragment="content">
			<div class="alert alert-primary" th:if="${#lists.isEmpty(lista)}">
				Nenhum Starter Cadastrado</div>
			<div class="alert alert-primary" th:if="${mensagem != null}"
				th:text="${mensagem}"></div>

			<div class="card mb-3">
				
		
				</div>
			</div>

			<div th:if="${not #lists.isEmpty(lista)}">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Id</th>
							<th>Nome</th>
							<th>Quatro Letras</th>
							<th>Programa</th>
							<th>Grupo</th>
							
							<th>Opções</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="starter : ${lista}">
							<td th:text="${starter.id}"></td>
							<td th:text="${starter.nome}"></td>
							<td th:text="${starter.quatroLetras}"></td>
							<td th:text="${starter.programaStart.nomePrograma}"></td>
							<td th:text="${starter.grupo.nomeGrupo}"></td>
							
							
							
							
							<td><a class="btn btn-warning btn-sm"
								th:href="@{/starter/editar(id=${starter.id})}">Editar</a>
								<a class="btn btn-danger btn-sm" th:data-bs-toggle="modal"
								th:data-bs-target="|#myModal${starter.id}|"
								th:href="@{/starter/excluir(id=${starter.id})}">Excluir</a>

								<div aria-hidden="true" aria-labelledby="myModalLabel"
									class="modal fade" th:id="|myModal${starter.id}|"
									tabindex="-1">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="myModalLabel">Excluir</h5>
												<button aria-label="Close" class="btn-close"
													data-bs-dismiss="modal" type="button"></button>
											</div>
											<div class="modal-body">Ao excluir você perderá todo histórico.Deseja continuar?
												</div>
											<div class="modal-footer">
												<button class="btn btn-secondary" data-bs-dismiss="modal"
													type="button">Cancelar</button>
												<a class="btn btn-danger" type="button"
													th:href="@{/starter/excluir(id=${starter.id})}">Confirmar</a>
											</div>
										</div>
									</div>
								</div></td>
						</tr>






					</tbody>




				</table>
			</div>
		</div>


	</div>

	
</body>

</html>

